@{
    ViewBag.Title = "影片";
}
<div id="main-div-data">
    <div id="ListPanel-1">
        <div class="wj-l">
            <a href="@Url.Action("AddVideo", "Video")" class="txt-deepPink"><i class="fa fa-upload">上傳影片</i></a>
            <a href="#" id="more-cond" class="hidden" onclick="$('.more-cond').toggle();">進階查詢</a>
        </div>
        <div id="qry-block" class="wj-block-l">
            <label class="more-cond" for="">關鍵字</label>
            <input class="more-cond" type="search" name="KeyWord" value="" />
            <label class="more-cond" for="">拍攝日期</label>
            <input class="more-cond" type="search" id="fmDate" name="FmDate" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'toDate\');}' })" />
            <input class="more-cond" type="search" id="toDate" name="ToDate" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'fmDate\');}' })" />
            <input type="button" class="button btn-c1 more-cond" func="Query" value="查詢" />
        </div>

        <div id="vedioBlock">
            <div class="info">
                <div class="items"></div>
            </div>
        </div>
    </div><!-- Query -->
    <div id="ListPanel-2"></div><!-- Detail -->
</div>



@section Scripts {
    <script>
        var _IsLoading = false;
        var _Num = 0;
        var _Params = ""; // 查詢參數

        $(window).scroll(function () {
            //最後一頁scrollTop=body-window，50是預留空間
            var last = $("body").height() - $(window).height() - $('#footer').height() - $('#photo-action').height();
            if ($(window).scrollTop() >= last && _IsLoading == false && $('#vedioBlock .items').is(':visible')) {
                _IsLoading = true;
                _Params.Append = true;
                _Num += @(AppConfig.VideoLimit);
                MoreVideo();
            }
        });

        // 圖片編輯
        $(document).on('click', '[func]', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var $this = $(this);
            var tags = {
                "Func": $this.attr('func')
            };
            var url = '/Video/{0}'.format(tags.Func);
            switch (tags.Func) {
                case "Query":
                    var tags = $('#qry-block').tags();
                    tags.Append = false;
                    _Params = tags;
                    _Num = 0; //重置
                    MoreVideo();
                    break;
                case "Return":
                    $('#ListPanel-2').hide();
                    $('#ListPanel-1').show();
                    break;
            }
        });

        function MoreVideo() {
            var tags = {
                TargetID: "vedioBlock .items ",
                SPic: _Num,
                Append: true
            }
            $.extend(tags, _Params);
            $.wait('影片搜尋中...');
            Sys.AjaxExec("/Video/VideoList", tags, function (data) {
                if (tags.Reset == 'Y') _Params = '';
                _IsLoading = data[2]=="Y"?true:false;
                $.close();
            });
        }

        MoreVideo();
    </script>
}
