/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@media (max-width: 767px) {

    #menu {
        width: 100%;
    }

    #dropBlock {
        display: none;
    }
}




@media screen and (max-width: 736px) {

    #header .inner {
        width: 25em;
        height: 25em;
        font-size: .75em;
        padding: 3em;
    }
}

@media screen and (max-width: 480px) {

    #header .inner {
        width: 26em;
        height: 26em;
        padding: 2em;
        font-size: .65em;
    }

        #header .inner .button {
            padding-left: 2em;
            padding-right: 2em;
        }
}


@media screen and (max-width: 980px) {

    #footer {
        position: relative;
        bottom: 0;
    }

        #footer .inner {
            height: auto;
            display: block;
        }

            #footer .inner .content,
            #footer .inner .copyright {
                display: block;
                width: 100%;
                text-align: center;
            }

        #footer .info {
            display: none;
        }
}

@media screen and (max-width: 480px) {

    #footer .inner {
        padding: 2em;
    }

        #footer .inner .content,
        #footer .inner .copyright {
            padding: 1em;
        }
}
