@media (max-width: 910px) {
    #menu {
        width: 100%;
    }

    .flex-row {
        justify-content: initial;
    }

    .qry-row {
        display: inline-block;
        width: 100%;
    }

        .qry-row .item {
            width: 100%;
            padding-bottom: 10px;
        }

            .qry-row .item select,
            .qry-row .item input {
                width: 70%;
            }

    .flex-l {
        display: block;
        min-width: 100%;
    }

        .flex-l .item {
            min-width: 100%;
        }

            .flex-l .item table td input, .flex-l .item table td select,
            .flex-l .item table td textarea {
                min-width: 100%;
            }

    .flex-c {
        width: 100%;
    }

        .flex-c .item {
            width: 100%;
            margin: 5px;
        }

    .card {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .wj-modal {
        padding-top: 50px;
    }

    .wj-modal-content {
        width: 500px;
    }

    #more-cond {
        display: inline;
    }
}

@media (max-width: 600px) {
    .v-sm-table {
        width: 350px;
    }

    .wj-modal {
        padding-top: 30px;
    }

    .wj-modal-content {
        margin: 0 10px;
        width: auto !important;
    }
}

@media screen and (max-width: 1680px) {

    #preview .inner {
        max-width: 55em;
    }
}

@media screen and (max-width: 1090px) {
    #vedioBlock .items .box {
        width: 30%;
    }

    .albumBlock {
        width: calc( 33% - 16px);
        height: 330px;
    }
}

@media screen and (max-width: 980px) {

    #qry-multi .item {
        width: 50%;
    }

        #qry-multi .item input {
            width: 100%;
        }

    #vedioBlock .items .box {
        width: calc( 50% - 16px);
        margin: 5px;
    }

    .albumBlock {
        width: calc( 50% - 16px);
        height: 330px;
    }

    #preview.vertical .inner {
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #footer {
        /*position: relative;
        bottom: 0;*/
        position: fixed;
        width: 100%;
        bottom: 0px;
    }

        #footer .inner {
            height: auto;
            display: block;
        }

            #footer .inner .content,
            #footer .inner .copyright {
                display: block;
                width: 100%;
                text-align: center;
            }

        #footer .info {
            display: none;
        }
}


@media screen and (max-width: 736px) {
    .more-cond {
        display: none;
    }

    input.more-cond, select.more-cond, textarea.more-cond {
        width: 100%;
    }

    /* Place the timelime to the left */
    #timeLineBlock .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    #timeLineBlock .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

        /* Make sure that all arrows are pointing leftwards */
        #timeLineBlock .container::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }

    /* Make sure all circles are at the same spot */
    #timeLineBlock .left::after, .right::after {
        left: 22px;
    }

    /* Make all right containers behave like the left ones */
    #timeLineBlock .right {
        left: 0%;
    }

        /* Fix the circle for containers on the right side */
        #timeLineBlock .right::after {
            left: 16px;
        }

    .albumBlock {
        width: 100%;
        height: 330px;
    }

    #vedioBlock .items .box {
        width: 100%;
    }

    #menu {
        width: 100%;
    }

    #preview .content {
        /*padding: 2em;*/
    }

        #preview .content header h2 {
            font-size: 2em;
        }
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    #video-container, #main-video, .wj-dropBlock {
        width: 100%;
    }
}


@media screen and (max-width: 480px) {
    #qry-multi .item {
        width: 100%;
    }

    #vedioBlock .box .inner {
        padding: 1em;
    }

    .albumTitle input, .albumTitle textarea {
        width: 100%;
    }

    .info {
        opacity: 1 !important;
        background-color: rgba(0, 0, 0, 0.00) !important;
    }


    #footer .inner {
        padding: 2em;
    }

        #footer .inner .content,
        #footer .inner .copyright {
            padding: 1em;
        }
}
