<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Memory" value="Data Source=(local);Initial Catalog=Memory;User ID=sa;Password=1234"> </add>
    <!--<add key="Source_Path" value="D:\Publish\Memory\Upload"></add>
    <add key="Destination_Path" value="E:\Sync_Photo"></add>
    <add key="BackUp_Path" value="E:\BackUp_Photo"></add>-->
    <add key="Source_Path" value="C:\Users\WALTER\Source\Repos\MemoryCollection\MemoriesCollection\Upload"></add>
    <add key="Destination_Path" value="D:\BackUp_Picture\Sync_Photo"></add>
    <add key="BackUp_Path" value="D:\BackUp_Picture\BackUp_Photo"></add>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>