@{
    ViewBag.Title = "相片";
}
<p class="wj-block-l">
    <a href="@Url.Action("AddPhoto","Photo")" class="txt-deepPink"><i class="fa fa-upload"> 上傳相片</i></a>
    <a href="#" id="more-cond" class="hidden" onclick="$('.more-cond').toggle();">進階查詢</a>
</p>

<div id="qry-block" class="wj-block-l">
    <label class="more-cond" for="">關鍵字</label>
    <input class="more-cond" type="search" name="KeyWord" value="" />
    <label class="more-cond" for="">拍攝日期</label>
    <input class="more-cond" type="search" id="fmDate" name="FmDate" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'toDate\');}' })" />
    <input class="more-cond" type="search" id="toDate" name="ToDate" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'fmDate\');}' })" />
    <input type="button" class="button btn-c1 more-cond" func="Query" value="查詢" />
</div>

<section id="blockSection"></section>
@section Scripts {
    <script>
        var _IsEnd = false;
        var _Gallery;
        var _Num = 0; // 張數
        var _Params = ""; // 查詢參數

        $(window).scroll(function () {
            //最後一頁scrollTop=body-window，50是預留空間
            var last = $("body").height() - $(window).height() - $('#footer').height() - $('#photo-action').height();
            if ($(window).scrollTop() >= last && !_IsEnd) {
                _IsEnd = true;
                _Num += parseInt(@(AppConfig.PhotoLimit));
                _Params.Append = true;
                MorePhoto();
            }
        });

        // 進階查詢
        $('#more-cond').on('click', function () {
            $('#qry-block').toggle();
        });

        $(document).on('click', '[func]', function (e) {
            var $this = $(this);
            var tags = {
                "Func": $this.attr('func')
            };
            switch (tags.Func) {
                case "Query":
                    var tags = $('#qry-block').tags();
                    tags.Append = false;
                    _Params = tags;
                    _Num = 0; //重置
                    MorePhoto();
                    break;
                case "ChoseImg":
                    var $chk = $('[type=checkbox]', $this).prop('checked');
                    $('[type=checkbox]', $this).prop('checked', !$chk);
                    $('#photo-cnt').text($('#blockSection [type=checkbox]:checked').length);
                    break;
                case "ChoseAll":
                    $('#blockSection [type=checkbox]').prop('checked', true);
                    $('#photo-cnt').text($('#blockSection [type=checkbox]:checked').length);
                    break;
                case "Reset":
                    $('#blockSection [type=checkbox]').prop('checked', false);
                    $('#photo-cnt').text($('#blockSection [type=checkbox]:checked').length);
                    break;
                case "Delete":
                    var list = $('#blockSection [type=checkbox]:checked').vals();
                    if (list.length > 0) {
                        tags.ImgList = list.join(",");
                        layer.confirm('確認刪除{0}張圖片 ?'.format(list.length), { icon: 3 }, function (index) {
                            layer.close(index);
                            $.wait("刪除資料中，請稍候...");
                            Sys.AjaxExec("Photo/Delete", tags, function () {
                                $('#blockSection input[type=checkbox]:checked').parents('[func=ChoseImg]').remove();
                                $('[func=Reset]').trigger('click');
                                GetSum();
                                $.close();
                            });
                        });
                    } else {
                        layer.alert("沒有符合條件的資料 !", { icon: 7 });
                    }
                    break;
            }
        });

        function InitGallery() {
            if (typeof _Gallery != "undefined") {
                $("#blockSection").data('lightGallery').destroy(true);
            }
            _Gallery = $("#blockSection").lightGallery({ selector: '.item', pause: 2000, share: false, setBg: true, actualSize: false });
        }

        function MorePhoto() {
            var tags = {
                TargetID: "blockSection",
                SPic: _Num,
                Append: true
            }
            $.extend(tags, _Params);
            $.wait();
            Sys.AjaxExec("/Photo/Photos", tags, function (data) {
                $('.spanBlock').show();
                $('.lazy').Lazy();
                _IsEnd = data[2] == "Y" ? true : false;
                InitGallery();
                $.close();
            });
        }

        MorePhoto();
        $('#photo-action').show();
    </script>
}