
@{
    ViewBag.Title = "首頁";
}
<div id="main-div-data">
    <p class="wj-block-l">
        <a href="@Url.Action("AddPhoto","Photo")" class="txt-deepPink"><i class="fa fa-upload"> 上傳相片</i></a>
        <a href="#" id="more-cond" class="hidden" onclick="$('.more-cond').toggle();">進階查詢</a>
    </p>

    <div id="qry-block" class="wj-block-l">
        <label class="more-cond" for="">關鍵字</label>
        <input class="more-cond" type="search" name="KeyWord" value="" />
        <label class="more-cond" for="">拍攝日期</label>
        <input class="more-cond" type="search" id="fmDate" name="FmDate" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'toDate\');}' })" />
        <input class="more-cond" type="search" id="toDate" name="ToDate" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'fmDate\');}' })" />
        <input type="button" class="button btn-c1 more-cond" func="Query" value="查詢" />
    </div>
    <div id="ListPanel-1">
        <section id="blockSection"></section>
    </div>
    <!-- Detail -->
    <div id="ListPanel-2" style="display:none;"></div>
    <!-- Edit -->
    <div id="ListPanel-3" style="display:none;"></div>
</div>
@section Scripts {
    <script>
        var _IsData = '@ViewBag.IsData';
        var _IsEnd = false;
        var _Gallery;
        var _Num = 0; // 張數
        var _PhotoKey = -1; // 照片編號
        var _Params = ""; // 查詢參數

        $(window).scroll(function () {
            //最後一頁scrollTop=body-window，50是預留空間
            var last = $("body").height() - $(window).height() - $('#footer').height() - $('#photo-action').height();
            if ($(window).scrollTop() >= last && !_IsEnd && !$('#ListPanel-2').is(':visible')) {
                _IsEnd = true;
                _Num += parseInt(@(AppConfig.PhotoLimit));
                _Params.Append = true;
                MorePhoto();
            }
        });

        $(document).on('click', '#main-div-data [func]', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var $this = $(this);
            var tags = {
                "Func": $this.attr('func')
            };
            var url = '';
            switch (tags.Func) {
                case "Query":
                    var tags = $('#qry-block').tags();
                    tags.Append = false;
                    _Params = tags;
                    _Num = 0; //重置
                    MorePhoto();
                    break;
            }

        });

        function MorePhoto() {
            var tags = {
                TargetID: "blockSection",
                SPic: _Num,
                Append: true
            }
            $.extend(tags, _Params);
            $.wait('相片搜尋中...');
            Sys.AjaxExec("/Home/Photo", tags, function (data) {
                if (tags.Reset == 'Y') _Params = '';
                $('.lazy').Lazy();
                _IsEnd = data[2] == "Y" ? true : false;
                InitGallery();
                $.close();
            });
        }

        function InitGallery() {
            if (typeof _Gallery != "undefined") {
                $("#blockSection").data('lightGallery').destroy(true);
            }
            _Gallery = $("#blockSection").lightGallery({
                selector: '.item',
                pause: 2000,
                share: false,
                setBg: false,
                actualSize: false
            });
        }

        MorePhoto();

    </script>
}