
@{
    ViewBag.Title = "首頁";
}
<div id="main-div-data">
    <p class="wj-l" style="display:none">
        <a href="@Url.Action("AddPhoto","Photo")" class="txt-deepPink"><i class="fa fa-upload"> 上傳相片</i></a>
    </p>
    <div id="ListPanel-1">
        <section id="blockSection"></section>
    </div>
    <!-- Detail -->
    <div id="ListPanel-2" style="display:none;"></div>
    <!-- Edit -->
    <div id="ListPanel-3" style="display:none;"></div>
</div>
@section Scripts {
    <script>
        var _IsData = '@ViewBag.IsData';
        var _Loading = true;
        var _IsEnd = false;
        var _Gallery;
        var _Num = 0; // 張數
        var _PhotoKey = -1; // 照片編號

        $(window).scroll(function () {
            //最後一頁scrollTop=body-window，50是預留空間
            var last = $("body").height() - $(window).height() - $('#footer').height();
            if ($(window).scrollTop() >= last && !_IsEnd && _Loading) {
                _IsEnd = true;
                _Num += parseInt(@(AppConfig.PhotoLimit));
                MorePhoto();
            }
        });

        $(document).on('click', '#main-div-data [func]', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var $this = $(this);
            var func = $this.attr('func');
            var tags = {
                "Func": func
            };
            var isValid = true;
            var errMsg = "";
            var url = '';

            CommonFunc(func, $this);

        });



        function MorePhoto() {
            var tags = {
                TargetID: "blockSection",
                SPic: _Num,
                Append: true
            }
            $.wait();
            Sys.AjaxExec("Home/Photo", tags, function (data) {
                $('.lazy').Lazy();
                _IsEnd = data[2] == "Y" ? true : false;
                InitGallery();
                $.close();
            });
        }

        function InitGallery() {
            if (typeof _Gallery != "undefined") {
                $("#blockSection").data('lightGallery').destroy(true);
            }
            _Gallery = $("#blockSection").lightGallery({ selector: '.item', pause: 2000, share: false, setBg: false, actualSize: false });
        }

        if (_IsData == 'True') {
            MorePhoto();
        } else {
            $('#main-div-data .wj-l').show();
        }

    </script>
}