
@{
    ViewBag.Title = "錄音檔";
}
<div id="main-div-data">
    <div id="ListPanel-1">
        <div class="wj-l">
            <a href="@Url.Action("AddAudio","Audio")" class="txt-deepPink"><i class="fa fa-upload">新增音訊</i></a>
        </div>
        <div id="vedioBlock">
            <div class="info">
                <div class="items"></div>
            </div>
        </div>
    </div><!-- Query -->
    <div id="ListPanel-2"></div><!-- Detail -->
</div>

@section Scripts {
    <script>
        var _IsLoading = false;
        var _Num = 0;

        $(window).scroll(function () {
            //最後一頁scrollTop=body-window，50是預留空間
            var last = $("body").height() - $(window).height() - $('#footer').height() - $('#photo-action').height();
            if ($(window).scrollTop() >= last && _IsLoading == false && $('#vedioBlock .items').is(':visible')) {
                _IsLoading = true;
                _Num += @(AppConfig.VideoLimit);
                MoreAudio();
            }
        });

        function SaveAudio(sel){
            var msg = [];
            var $this = $(sel);
            var tags = $this.parents('.box:first').tags();
            tags.AudioNo =$this.attr('data-param');

            msg.push(IsEmpty(tags.AudioNo) ? "@AppConfig.NoData !" : "");
            msg = msg.filter(Boolean);

            if (msg.length > 0) {
                layer.alert(msg.join("<br>"), { title: '請輸入正確資料', icon: 0 });
            } else {
                layer.confirm('確認儲存 ?', { title: '儲存', icon: 3 }, function (index) {
                    layer.close(index);
                    $.wait('資料儲存中...');
                    Sys.AjaxExec('@Url.Action("Save","Audio")', tags, function (data) {
                        $.close();
                        layer.alert('儲存成功 !', { title: '儲存', icon: 3 }, function (index) {
                            layer.close(index);
                        });
                    });
                });
            }
        }

        function MoreAudio() {
            $.wait();
            var tags = {
                TargetID: "vedioBlock .items ",
                SPic: _Num,
                Append: true,
            }

            Sys.AjaxExec("/Audio/AudioList", tags, function (data) {
                _IsLoading = data[2]=="Y"?true:false;
                $.close();
            });
        }

        MoreAudio();
    </script>
}




