@{
    Layout = null;
}
<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>
        404 Not Found
    </title>
</head>
<body>
    <div style="height:auto; min-height:100%; ">
        <div style="text-align: center; width:800px; margin-left: -400px; position:absolute; top: 30%; left:50%;">
            <h1 style="margin:0; font-size:150px; line-height:150px; font-weight:bold;">404</h1>
            <h2 style="margin-top:20px;font-size: 30px;">
                Not Found
            </h2>
            <p style="color:red;">@ViewBag.ErrMsg </p>
            <p><a href="@Url.Action("Index","Home")">回首頁</a></p>
        </div>
    </div>
</body>
</html>
